body {
    margin: 0 0;
}

.burger {
    margin: 50vh auto;
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    background-color: gray;
    border-radius: 4px;
}

.burger span {
    width: 80%;
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.burger:hover span{
    animation: color 9s linear infinite;
}
.burger:hover span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
.burger:hover span:nth-child(2) {
    opacity: 0;
}
.burger:hover span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}
@keyframes color{
    0%{background:white;}
    13%{background: red;}
    25%{background-color:orange;}
    38%{background-color: yellow;}
    50%{background-color:green;}
    63%{background-color:blue;}
    75%{background-color: darkviolet;}
    88%{background-color:magenta;}
    100%{background-color:white;}
}