* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}
.flex-conteiner{
    display: flex;
}
header, footer {
    background: #0155ae;
    color: white;
}
.header-inner, .footer-inear{
    max-width: 1100px;
    margin: auto;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
.header-inner {
    font-size: 16px;
}
.logo {
    position: relative;
    height: 100%;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Carter One", sans-serif;
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 22px;
  background: radial-gradient( ellipse at center top,rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 40%, transparent 70%);
}
.menu {
    list-style: none;
    gap: 20px;
    font-size: 1em;
}
.menu a {
    text-decoration: none;
    height: 1em;
    width: auto;
    color: white;
    padding: 6px 10px;
    transition: background 0.3s;
    font-family: "Mozilla Text";
}
.menu a:hover {
    background: linear-gradient(45deg, #1159b0, #009dff);
    border-radius: 4px;
}
.hello {
    position: relative;
    background: #187afa;
    color: white;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.hello::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: radial-gradient( ellipse at center top,rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 40%, transparent 75%);
}
.hello-conteiner{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.hello-text, .hello-image img{
    max-width: 100%;
    flex: 1;
    
}
.hello-text h1 {
    font-family: "Stack Sans Headline";
    font-size: 36px;
}
.hello-text h2 {
    margin-bottom: 10px;
}
.plans, .works {
    max-width: 1100px;
    margin: 40px auto;
    gap: 30px;
}
.plan, .work {
    flex-direction: column;
    text-align: left;
}
.plan-title {
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.plan-title img {
    width: 3.5em;
    height: 3.5em;
}
.plan-title h2 {
    margin: 0;
    font-size: 1.5em; 
    justify-content: flex-start;
    align-items: flex-end;
    height: 3.5em;
}
.plan {
    flex-direction: column;
    text-align: left;
}
.read-more {
    font-size: 16px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 3px;
    align-self: flex-start;
    background-color: white;
    cursor: pointer;
}
.work img{
    width: 100%;
    height: 40%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    object-fit: contain;
}
hr{
    border: none;
    height: 2px;
    max-width: 1100px;
    margin: 0 auto;
    background: linear-gradient(90deg,transparent,black, transparent);
}
.tweet-inner {
    align-items: center;
    gap: 15px;
    font-size: 0.85em;
    color: rgb(69, 69, 69);
    max-width: 1100px;
    margin: 15px auto;
    justify-content: center;
}
.tweet img {
    flex: 1;
    width: 10px;
    object-fit: contain;
}
.tweet p{
    flex: 20;
}
.tweet a {
    color: black;
    text-decoration: none;
}
.tweet span {
    color: black;
}
.tweet-btn {
    flex: 4;
    height: 50px;
    background: white;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-size: 0.85em;
    cursor: pointer;
    border-radius: 4px;
}
.tweet-btn:hover {
    background: linear-gradient(45deg, #eeeeee, #dddddd);
}
.footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.footer-inear {
    font-size: 0.8em;
}